# Xcode
DerivedData/
build/
*.xcuserstate
*.xcworkspace/xcuserdata/
Secrets.xcconfig
*.xccheckout
*.xcscmblueprint
# SwiftPM
/.build/
/Packages/

# CocoaPods
Pods/

# Carthage
Carthage/

# Fastlane
fastlane/report.xml
fastlane/screenshots
fastlane/test_output
fastlane/Preview.html
fastlane/test_output

# User-specific
*.personal.xcconfig
xcuserdata/

# Other
.DS_Store

# Logs
*.log

# Secrets
*.env
*.p12
*.mobileprovision
*.cer